<div >
    <mat-table #table [dataSource]="dataSource"
                matSort
               [@animateStagger]="{value:'50'}">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let contact">
                <mat-checkbox [(ngModel)]="checkboxes[contact.id_contact]" (ngModelChange)="onSelectedChange(contact.id_contact)"
                              (click)="$event.stopPropagation()">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
    
        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let contact">
                <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                     [src]="contact.avatar"/>
            </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let contact">
                <p class="text-truncate font-weight-600">{{contact.name}} {{contact.firstSurname}} {{contact.secondSurname}}</p>
            </mat-cell>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Correo Electrónico</mat-header-cell>
            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{contact.email}}
                </p>
            </mat-cell>
        </ng-container>
    
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Telefono</mat-header-cell>
            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{contact.phone}}
                </p>
            </mat-cell>
        </ng-container>
    
        <!-- Type Relationship Column -->
        <ng-container matColumnDef="typeRelationship">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Tipo de Relacíon</mat-header-cell>
            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{contact.type_relationship}}
                </p>
            </mat-cell>
        </ng-container>
    
        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let contact">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id_contact)" aria-label="Toggle star">
                        <mat-icon class="amber-fg" *ngIf="user.starredContacts.includes(contact.id_contact)">star</mat-icon>
                        <mat-icon class="secondary-text" *ngIf="!user.starredContacts.includes(contact.id_contact)">star_border</mat-icon>
                    </button>
    
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
    
                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </div>
    
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let contact; columns: displayedColumns;"
                 class="contact"
                 (click)="editContact(contact)"
                 [ngClass]="{'accent-50':checkboxes[contact.id_contact]}"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    
    
        
    </mat-table>
    <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

</div>


