<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

     <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
         <a mat-button target="_blank" href="https://riquezaparatodos.com.mx/">Riqueza para Todos &reg; 2020 - DERECHOS RESERVADOS</a>
         <span>&bull;</span>
         <a mat-button target="_blank" href="https://riquezaparatodos.com.mx/politica-de-privacidad/">POLÍTICA DE PRIVACIDAD</a>
     </div>

    </div>

</mat-toolbar>
